.topbar {
    width: 100%;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 45px;
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding-right: 15px;
    font-size: 14px;
    padding-left: 19px;
    box-shadow: 0px 0px 5px lightgray;
}
.userInfoContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.notificationStyleContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items:  center;
    font-size: 13.4px;
}
.expoDateContainer {
}
.accountLogoContainer {
    width: 30px;
    height: 30px;
    font-size: 19px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: white;
    background: #FF2747;
    border-radius: 50%;
    margin-right: 9px;
}
.userInfoContainer span {
    padding-right: 19px;
}
.userInfoContainer span svg {
    margin-left: 6px;
}
.userInfoContainer small {
    color: gray;
}
.notificationIndicator {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #FF2747;
    box-shadow: 0px 0px 9px #FF2747;
    margin-right: 9px;
}
.notificationStyleContainer span b {
    padding-left: 5px;
    font-size: 15px;
    text-align: center;
    color: #FF2747;
}
.expoDateContainer small{
    padding-right: 9px;
}
.notificationListContainer {
    position: absolute;
    width: 500px;
    background: white;
    padding: 15px;
    box-shadow: 0 0 15px lightgray;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    z-index: 100;
    top: 45px;
    left: 46%;
}
.notificationItem {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: gray;
    padding: 8px 15px;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
}
.notificationsContainerHeader span {
    color: white;
    font-size: 10.5px;
    background-color: #ff2747;
    padding: 4px;
    display: block;
    height: 10px;
    width: 10px;
    line-height: 1;
    border-radius: 50%;
    position: relative;
    top: -19px;
    right: -4px;

}
.notificationsContainerHeader {
    font-size: 14px;
    font-weight: bold;
    color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
}
.accountListContainer {
    position: absolute;
    right: 41px;
    top: 45px;
    box-sizing: border-box;
    background: white;
    box-shadow: 0 0 15px lightgray;
    display: flex;
    flex-flow: column;
    width: 185px;
    z-index: 109;
}
.accountListContainer > div {
    font-size: 10.9px;
    border-bottom: 1px solid lightgray;
    padding: 9px;
}
.accountListContainer > div:last-child {
    border: none;
}